



/* History.css */

.inputbox {
  margin: 20px;
  position: relative;
  width: 100%;
  max-width: 300px; /* Limit width for smaller screens */
}

.inputbox-input {
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #ffffff;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.inputbox-input:valid ~ span,
.inputbox-input:focus ~ span {
  color: #45f3ff;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0.75em;
}

.inputbox-i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45f3ff;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.history-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px auto; /* Centered margin with auto */
  max-width: 1200px; /* Maximum width for larger screens */
  padding: 0 20px; /* Padding for better spacing */
}

.history-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Full width for small screens, adaptive for larger screens */
  max-width: 300px; /* Maximum width of individual card */
  text-align: center;
}

.history-card-img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  max-height: 200px; /* Limit height to ensure consistent size */
  object-fit: cover;
  border-radius: 8px;
}

.history-card-title {
  margin: 8px 0;
  font-size: 1.25em;
  color: white;
}

.history-card-url {
  margin: 0;
  color: white;
}

.history-card-link {
  color: white;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

.history-card-link:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .history-cards-container {
    justify-content: flex-start; /* Adjust layout for larger screens */
  }

  .history-card {
    width: calc(33.33% - 20px); /* Adjust width for three-column layout with gaps */
    margin-right: 20px; /* Gap between cards */
  }

  .history-card:last-child {
    margin-right: 0; /* Remove right margin for last card in row */
  }
}
